---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Academus | tu puerta al conocimiento innovador"
  description="Educaci贸n, Investigaci贸n y desarrollo Empresarial"
>
  <main transition:animate="fade">
    <h1>Academus</h1>
    <p>
      Academus es una plataforma de educaci贸n, investigaci贸n y desarrollo
      empresarial.
    </p>
  </main>
</Layout>
