<header
  class={`
    sticky top-0
    z-10
    w-full bg-white
  `}
>
  <nav
    class={`flex flex-row justify-between w-full px-20 items-center mb-10 pb-4`}
  >
    <div class="flex flex-row items-center text-[#6e6e6e]">
      <img src="/logo.webp" alt="" class="pr-8 cursor-pointer" />
      <a class="hover:bg-white/10 rounded-full px-3 transition" href="/"
        >Inicio</a
      >
      <a class="hover:bg-white/10 rounded-full px-3 transition" href="nosotros"
        >Nosotros</a
      >
      <a class="hover:bg-white/10 rounded-full px-3 transition" href="cursos"
        >Cursos</a
      >
      <a class="hover:bg-white/10 rounded-full px-3 transition" href="contacto"
        >Contáctanos</a
      >
    </div>
    <div>
      <a
        class="hover:bg-white/10 rounded-full px-3 transition"
        href="#experiencia">Iniciar Sesión</a
      >
      <a
        class="hover:bg-white/10 rounded-lg px-3 border-[1.5px] border-[#bababa] py-3 shadow-sm"
        href="#proyectos">Registrarse</a
      >
    </div>
  </nav>
</header>
